<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product - {{currentid}}</h1>
</div>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="p-5 ">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Product  {{name}}</h1>
                        </div>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="">Product Name:   </span><span>{{name}}</span></li>
                            <li><span class="">Product Model:  </span><span>{{model}}</span></li>
                            <li><span class="">Product Price:  </span><span>{{price}}</span></li>
                            <li><span class="">Product Color:  </span><span>{{color}}</span></li>
                            <li><span class="">Memory Storage: </span><span>{{memory}}</span></li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>