<div class="container">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User - {{currentid}}</h1>
</div>

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="p-5 ">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">User  {{name}}</h1>
                        </div>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="">User Name:   </span><span>{{name}}</span></li>
                            <li><span class="">User ID:  </span><span>{{ids}}</span></li>
                            <li><span class="">User Age:  </span><span>{{age}}</span></li>
                            <li><span class="">User Location:  </span><span>{{location}}</span></li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>